 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 

<section class="invoice" id="capture" >
  <div id="header">
    <!-- title row -->
    <div class="row" >
        <div class="col-sm-3">  {logo1} </div>
      <div class="col-sm-6 text-center">
        <div class="invoice-heading text-center">{Address1}</div>
        {Address2}
        <h4> {Address3}</h4>
      </div>
      <div class="col-sm-3"> {logo2} </div>
      
      <!-- /.col --> 
    </div>
    <!-- info row -->
    
    <div class="row invoice-info" style="margin-top:40px">
      <div class="col-sm-8 invoice-col"> FN: <strong>{FileNumber}</strong> </div>
      <!-- /.col --> 
      
      <!-- /.col -->
      <div class="col-sm-4 invoice-col text-right"> <b>Date:</b>{Date}<br>
        <b>Type:</b> {TypeName} </div>
      <!-- /.col --> 
    </div>
    <!-- /.row -->
    
    <div class="row invoice-info">
      <div class="col-sm-12 invoice-col">
        <address style="text-transform:uppercase">
        <strong>Address:</strong><br>
        {AddressTo}
        </address>
      </div>
      
      <!-- /.col --> 
    </div>
    <div class="col-12 table-responsive">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th><strong>Subject: </strong> </th>
            <td>{Subject} </td>
          </tr>
          <tr>
            <th><strong>References: </strong> </th>
            <td>{Reference} </td>
          </tr>
          <tr>
            <th><strong>Context: </strong> </th>
            <td>{Context} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="content">
    <div class="col-lg-12">
      <h2 class="ttile">Content</h2>
      <ul class="content-list">
        <li>
            <div>{Content}</div>
        </li>
      </ul>
    </div>
    <div class="col-lg-12">
      <h2 class="ttile">Attachment</h2>
      <ul class="content-list">
        <li *ngFor="let item of model?.AttachmentList; let i = index" [attr.data-index]="i">{Description}</li>
      </ul>
    </div>
    <div class="clearfix">&nbsp;</div>
  </div>
  <div id="footer">
    <div class="row invoice-info" style="margin:0px">
      <div class="col-sm-8 invoice-col"> FN: <strong>{FileNumber}</strong> <br/>
        <br/>
        CC: <strong>{model?.CCReferenceListText}</strong> </div>
      <!-- /.col --> 
      
      <!-- /.col -->
      <div class="col-sm-4 invoice-col text-right"> <b>Date:</b> {Date}<br>
        <!-- /.col --> 
      </div>
     
    </div>
  </div>
  <!-- /.row --> 
</section>
